# Environment variables
.env

# cache
.vscode
.mypy_cache
/__pycache__
app/src/__pycache__
app/src/app/__pycache__
app/src/app/core/__pycache__
app/tests/__pycache__
app/tests/core/__pycache__
app/src/migrations/__pycache__

# frontend
client/package-lock.json
