@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0f0f;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Exo 2: CSS class */
.exo-2-thin {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.exo-2-extralight {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.exo-2-light {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.exo-2-regular {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.exo-2-medium {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.exo-2-semibold {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.exo-2-bold {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.exo-2-extrabold {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.exo-2-black {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.exo-2-thin-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.exo-2-extralight-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.exo-2-light-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.exo-2-regular-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.exo-2-medium-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.exo-2-semibold-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.exo-2-bold-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.exo-2-extrabold-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.exo-2-black-italic {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}
/* -------------------------------------------------------------------------------- */

/* Source Sans 3: CSS class */
.source-sans-3-thin {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.source-sans-3-extralight {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.source-sans-3-light {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.source-sans-3-regular {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-medium {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.source-sans-3-semibold {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.source-sans-3-bold {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.source-sans-3-extrabold {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.source-sans-3-black {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.source-sans-3-thin-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: italic;
}

.source-sans-3-extralight-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}

.source-sans-3-light-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

.source-sans-3-regular-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.source-sans-3-medium-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.source-sans-3-semibold-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.source-sans-3-bold-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.source-sans-3-extrabold-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: italic;
}

.source-sans-3-black-italic {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}
/* -------------------------------------------------------------------------------- */
